<div class="container">
	<div class="row">
		<div class="thankYouBox">
			<h5><%= @show_message %></h5>
		</div>
		<div class="infoBox">
			<h5>Submited informations</h5>
				<label>Name:</label>
				<p><%= @name %></p>
				<label>Dojo location:</label>
				<p><%= @location %></p>
				<label>Favorire language:</label>
				<p><%= @language %></p>
				<label>Comments:</label>
				<p><%= @comments %></p>
		</div>
		<a class="button button-primary" href="/">Back</a>
	</div>
</div>